[Desktop Entry]
Name=CamBam
Comment=gcode generation
GenericName=CamBam 0.9.8
Exec=/usr/bin/mono /usr/local/Cambam/0.9.8/CamBam.exe
Path=/usr/local/Cambam/0.9.8/
Terminal=false
Categories=Graphics;Science;Engineering
Type=Application
MimeType=application/stl;
