#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Cura
GenericName=Cura 3d Printing Software
Exec=cura
Icon=/usr/local/cura/12.08/Cura/stl.ico
Terminal=false
Categories=Development;Engineering;Electronics;
