[Desktop Entry]
Name=Printrun
Comment=Control program for RepRap 3d printers
GenericName=RepRap Host
Exec=/usr/local/Printrun/printrun
Path=/usr/local/Printrun/P-face.ico
Terminal=false
Icon=/usr/share/pronterface/plater.ico
Categories=Graphics;Science;Engineering
Type=Application
MimeType=application/stl;
