#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Slic3r 0.9.9
GenericName=Slic3r 3d Printing Software version 0.9.9
Exec=/usr/local/slic3r/0.9.9/bin/slic3r
Icon=/usr/local/slic3r/0.9.9/res/Slic3r.ico
Terminal=false
Categories=Development;Engineering;Electronics;
