#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=Update Software
Exec=gksudo /usr/local/src/CCHS-Config/startup-sync.sh
Icon=terminal
Terminal=true
