
[Desktop Entry]
Type=Application
Exec="apt-get install wine"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_AU]="Install Wine"
Name="Install Wine"
Comment[en_AU]=
Comment=
